/* SETTINGS */


html, body {
    margin: 0px;
    padding: 0px;
}

/* TOP */

.top-line {
    background: #ffd800;
    color: #3f3f3f;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.error {
    color: red;
}

.top-line a {
    text-decoration: none;
}

.top-left-side {
    margin: 0px 5px;
}

.top-center-side {
    margin: 0px 5px;
}

.top-right-side {
    margin: 0px 5px;
}

.logo {
    font-size: 30px;
}

/* BUTTONS */

.button {
    border: 2px solid #967f00;
    border-radius: 10%;
    background: #ffff00;
    color: black;
}

/* BOTTOM */

footer {
    background: #dbdbdb;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #1e1e1e;
}

#js-test {
    margin-left: 5px;
}